# Inventory Report

## Hosts uptime
Per host uptime and software report.

|Nodes|Uptime|Software|
|-----|------|--------|
{% for host,facts in allhosts|dictsort %}
|{{facts.ansible_net_hostname}}|{{facts.ansible_sysuptime}}|{{facts.ansible_net_version}}|
{% endfor %}




