{%- macro MTun(Customer,ServiceID,OSPFa,VRF,from,to,loop) -%}
interface tunnel-ip {{ServiceID}}{{loop}}
 description {{Customer}} {{ServiceID}} Tunnel to {{to}}
 vrf {{Customer}}-{{ServiceID}}
 ipv4 unnumbered Loopback {{ServiceID}}
 tunnel mode gre ipv4
 tunnel source Loopback0
 tunnel destination 10.10.100.{{to}}
 {% endmacro %} 