#  This template builds the device confdiguration from the data model.
{% from ansible_os + "-Interface.jinja2" import Minterface %}
{% from ansible_os + "-routing.jinja2" import Mroute %}
{% from ansible_os + "-SNMP.jinja2" import Msnmp %}
!
!
hostname {{inventory_hostname_short}}
!
!
ip domain name {{inventory_hostname}}
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>>  Users confdiguration  >>>>>>>>>>>>>>>>>>>>>>>>>>#}
{% for u in Users %}
username {{u.username}} password 0 {{u.password}}
{% endfor %}
!
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>>  loopback confdiguration  >>>>>>>>>>>>>>>>>>>>>>>#} 
interface loopback 0 
{% if ansible_os == "XR" %}
 ipv4 address {{( loopbacks | ipaddr (nodeid) | ipaddr ('address') )}}  255.255.255.255
{%     elif ansible_os == "IOS" -%} 
 ip address {{( loopbacks | ipaddr (nodeid) | ipaddr ('address') )}}  255.255.255.255
{%-     endif %} 
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>> XR SNMP confdiguration >>>>>>>>>>>>>>>>>>>>>>>>>>#}
{%     if ansible_os == "XR" -%}
  {{ Msnmp (SNMP1,SNMP2,NMS1,NMS2) }}
{%-     endif -%}  
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>>  Interface confdiguration >>>>>>>>>>>>>>>>>>>>>>>#}
{%   for l in links -%}
  {{ Minterface (l.port,l.ip,l.mask,l.description) }}
{%   endfor %}
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>> IP Routing  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>#}
{%     if ansible_os == "IOS" -%}
  {{ Mroute (loopbacks,nodeid,port) }}
{%     elif ansible_os == "XR" -%}
  {{ Mroute (loopbacks,nodeid,port) }}
{%- for l in links -%} 
interface {{l.port}}
 network point-to-point
!
{%   endfor %} 
{%-     endif -%}
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>> IOS SNMP confdiguration >>>>>>>>>>>>>>>>>>>>>>>>>#}
{%     if ansible_os == "IOS" -%}
  {{ Msnmp (SNMP1,SNMP2,NMS1,NMS2) }}
{%-     endif -%}  
!
end