 {%- macro Minterface(port,IP,mask,description) -%}
interface {{port}}
 ip address {{IP}} {{mask}}
 description {{description}}
 ip ospf network point-to-point
 ip ospf 10 area 0
 duplex auto
 speed auto
 media-type rj45
{% endmacro %} 
