{#>>>>>>>>>>>>>>>>>>>>>>>>>>  Used by upstream Generate-Configs.j2 >>>>>>>>>>>>>>>>>>>>>>>-#}
{#>>>>>>>>>>>>>>>>>>>>>>>>>>  Used by upstream Generate-services.j2 >>>>>>>>>>>>>>>>>>>>>>-#}
{%- macro Mroute(loops,node,port,ServiceID,OSPFa,VRF) -%}
router ospf {{ServiceID|default("10")}}{{ VRF |default() }}
 router-id {{( loops | ipaddr (node) | ipaddr ('address') )}}
 default-metric 1000
 network {{( loops | ipaddr (node) | ipaddr ('address') )}} 0.0.0.0 area {{OSPFa|default("0")}}
{% endmacro %} 
