{%- macro Msnmp(trap1,trap2,host1,host2) -%}
!
ip access-list standard NMS-STATIONS
 permit {{host1}}
 permit {{host2}}
!
snmp-server community public RO NMS-STATIONS
snmp-server community private RW NMS-STATIONS
snmp-server chassis-id 
snmp-server host {{trap1}}version 2c public 
snmp-server host {{trap2}} version 2c public 
{% endmacro %} 

