#  This template builds the device confdiguration from the data model.
{% from ansible_os + "-Interface.jinja2" import Minterface %}
{% from ansible_os + "-routing.j2" import Mroute %}
!
!
hostname {{inventory_hostname_short}}
!
!
enable secret 5 $1$GBl2$gi2wO3fEptFhhmv3s9ebR.
!
no ip domain lookup
ip domain name {{inventory_hostname}}
!
{% for u in Users %}
username {{u.username}} password 0 {{u.password}}
{% endfor %}
!
no cdp log mismatch duplex
! 
interface loopback 0 
 ip address {{( loopbacks | ipaddr (nodeid) | ipaddr ('address') )}} mask 255.255.255.255 
!
{%   for l in links -%}
  {{ Minterface (l.port,l.ip,l.mask,l.description) }}
{%   endfor %}
!
!
{%     if ansible_os == "IOS" -%}
  {{ Mroute (loopbacks,nodeid,port) }}
{%     elif ansible_os == "XE" -%}
  {{ Mroute (loopbacks,nodeid,port) }}
{%- for l in links -%} 
interface {{l.port}}
 network point-to-point
!
{%   endfor %} 
{%-     endif -%}
!
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 192.168.16.2
ip ssh time-out 60
ip ssh version 2
!
!
snmp-server community public RO
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line vty 0 4
 transport input ssh
!
no scheduler allocate
!
end