#  This template builds the device confdiguration from the data model.
{% set SRCtemplate = ansible_os + "-Interface.jinja2" %}
{% from SRCtemplate import Minterface %}
!
!
hostname {{inventory_hostname_short}}
!
boot-start-marker
boot-end-marker
!
!
enable secret 5 $1$GBl2$gi2wO3fEptFhhmv3s9ebR.
!
aaa new-model
!
aaa session-id common
!
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
no ip icmp rate-limit unreachable
!
no ip domain lookup
ip domain name {{inventory_hostname}}
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
{% for u in Users %}
username {{u.username}} password 0 {{u.password}}
{% endfor %}
!
redundancy
!
no cdp log mismatch duplex
!
ip tcp synwait-time 5
! 
interface loopback 0 
 ip address {{( loopbacks | ipaddr (nodeid) | ipaddr ('address') )}} mask 255.255.255.255 
!
{%   for l in links -%}
  {{ Minterface (l.port,l.ip,l.mask,l.description) }}
{%   endfor %}
!
!
router ospf 10
ospf routerid {{( loopbacks | ipaddr (nodeid) | ipaddr ('address') )}} mask 255.255.255.255 
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 192.168.16.2
ip ssh time-out 60
ip ssh version 2
!
ipv6 ioam timestamp
!
snmp-server community public RO
snmp-server chassis-id 
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line vty 0 4
 transport input ssh
!
no scheduler allocate
!
end