{%   for l in links %}
interface {{l.port}} 
 ip address {{l.ip}} mask {{l.mask}}
 description {{l.description}}
 ip ospf network point-to-point
 ip ospf 10 area 0
 duplex auto
 speed auto
 media-type rj45
{%   endfor %}