2_Create_dictionary.j2

hostname {{hostname}}
!
interface loopback 0
ip address {{loopback}} 255.255.255.255
{% for ifname in interfaces %}
!
interface {{ifname}}
no shutdown
{% endfor %}
{% for ifname in interfaces2 %}
!
interface {{ifname}}
no shutdown
{% endfor %}
