#  This template builds the device confdiguration from the data model.
{% from ansible_os + "-routing.jinja2" import Mroute %}
!
!
hostname {{inventory_hostname_short}}
!
!
ip domain name {{inventory_hostname}}
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>>  Users confdiguration  >>>>>>>>>>>>>>>>>>>>>>>>>>#}
{% for count in Users %}
! BEGIN adding Users {{nodeid}}{{ loop.index -1}}
! END adding Users {{nodeid}}{{ loop.index -1}}
{% endfor %}
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>>  loopback confdiguration  >>>>>>>>>>>>>>>>>>>>>>>#} 
! BEGIN adding Loopback {{ nodeid }}
! END adding Loopback {{ nodeid }}
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>> XR SNMP confdiguration >>>>>>>>>>>>>>>>>>>>>>>>>>#}
{% if ansible_os == "XR" %}
! BEGIN adding XR SNMP {{ nodeid }}
! END adding XR SNMP {{ nodeid }}
!
{% endif %}
{#>>>>>>>>>>>>>>>>>>>>>>>>>> Interface Configuration >>>>>>>>>>>>>>>>>>>>>>>#}	
{% for count in links %}
!
! BEGIN adding Interfaces {{ nodeid }}{{ loop.index -1}}
! END adding Interfaces {{ nodeid }}{{ loop.index -1}}
!
{% endfor %}
!
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>> IP Routing  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>#}
! BEGIN adding Routing {{ nodeid }}
! END adding Routing {{ nodeid }}
!
{% if ansible_os == "XR" %}
{% for count in links %}
!
! BEGIN adding XR Routed Interfaces {{ nodeid }}{{ loop.index -1}}
! END adding XR Routed Interfaces {{ nodeid }}{{ loop.index -1}}
!
{% endfor %}
{% endif %}
!
{#>>>>>>>>>>>>>>>>>>>>>>>>>> IOS SNMP confdiguration >>>>>>>>>>>>>>>>>>>>>>>#}
{% if ansible_os == "IOS" %}
! BEGIN adding IOS SNMP {{ nodeid }}
! END adding IOS SNMP {{ nodeid }}
{% endif %}
!
TODO: Remove the marker lines possibly with a Jinja filter?
! BEGIN adding banners {{ nodeid }}
! END adding banners {{ nodeid }}
