{%- macro Msnmp(trap1,trap2,host1,host2) -%}
!
snmp-server host {{trap1}} traps version 2c public
snmp-server host {{trap2}} traps version 2c public
snmp-server community public RO IPv4 NMS-STATIONS
snmp-server community private RW IPv4 NMS-STATIONS
!
ipv4 access-list NMS-STATIONS
 10 permit ipv4 host {{host1}} any
 20 permit ipv4 host {{host2}} any
!
{% endmacro %}  